body {
	font-family: Droid Sans;
}

h1 {
	text-align:center;
}

h1.section{
	color:white;
}

h2 {
	text-align:center;
}

h3 {
	text-align:center;
	color:gray;
}

p {
	text-align:center;
}

img {
	display:block;
	margin: auto auto auto auto;
}

img.img-oval {
	-webkit-clip-path:ellipse(40% 45% at 50% 50%); /* http://bennettfeely.com/clippy/ */
	
	clip-path:ellipse(40% 45% at 50% 50%);
}

img.img-circle {
	-webkit-clip-path:circle(50% at 50% 50%);
	clip-path:circle(50% at 50% 50%);
	height: 150px;
}

img.shield {
	height:125px;
}

img.img-icon {
	height: 32px;
}

hr {
	width:25em;
}

div.header-intro {
	background: url("../Images/mountains.png") center top no-repeat;
		background-size:cover;
	    height: 500px;
	    width: 100%;
}

div.header-education {
	background: url("../Images/jhbooks.png") center top no-repeat;
		background-size:cover;
	    height: 500px;
	    width: 100%;
}

div.header-work {
	background: url("../Images/comp_steth.png") center top no-repeat;
		background-size:cover;
	    height: 500px;
	    width: 100%;
}

div.header-fun {
	background: url("../Images/onion.png") center top no-repeat;
		background-size:cover;
	    height: 500px;
	    width: 100%;
}

div.header-thanks {
	background: url("../Images/nyskyline.jpg") center top no-repeat;
		background-size:cover;
	    height: 500px;
	    width: 100%;
}

div.header-name {
     margin: 0 auto;
     width: 100%;
}

div.header-layer {
    background-color: rgba(0, 0, 0, 0.59);
    width: 100%;
    height: 100%;
}

div.content{
	padding:2em;
}

div.hobbies {
	padding:5em;
}

div.tri-column {
	float:left;
	width: 33%;
}

div.shield {
	text-align:center;
	padding:2em;
}

div.quad-column {
	float:left;
}

